$blue-400 : #003A59;
$blue-300 : #00598D;
$green-300 : #064e3b;

html,
body {
  height: 100vh !important;
  margin: 0;
  background: #F4FAFF;
}

.App {
  background: linear-gradient(180deg, #ffffff 50%, #F4FAFF 50%);
  height: 70vh !important;
}

.Header {
  // position: absolute;
  padding-top: 90px;
  padding-bottom: 70px;

  &__title {
    height: 44px;
    color: $blue-400;
    line-height: 44px;
    letter-spacing: -0.03em;
    margin-bottom: 12px;
  }


  &__subtitle {
    height: 22px;
    color: #728197;
    line-height: 22px;
    letter-spacing: -0.03em;
  }
}




.Card {
  background: #FFFFFF;
  border: 1px solid #E3E9F1;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 40px 40px 42px 40px;
  margin-bottom: 20px;

  &__item {
    margin-right: 22px;

    &__label {
      color: #2E3849;
      line-height: 17px;
      letter-spacing: -0.03em;
      margin-bottom: 4px;
    }

    &__input {
      height: 40px;
      background: #FFFFFF;
      border: 2px solid #CCD6E1;
      box-sizing: border-box;
      border-radius: 4px;
      padding: 0 10px 0 10px;

      &:focus {
        border: 2px solid $blue-300;
      }

    }
  }

  &__button {
    // width: 230px;
    padding: 12px 64px 12px 65px;
    height: 40px;
    border-radius: 4px;

    &__cancel {
      margin-left: 12px;
      padding: 0px 8px 0px 8px;
      width: 40px;
    }

    &--primary {
      background: $blue-300;
    }

    &--secondary {
      background: $green-300;
    }
  }

  &__infor {
    margin-top: 12px;
    line-height: 15px;
    color: #728197;
  }
}

.List {

  &__count {
    color: #2E3849;
    margin-bottom: 16px;
  }

  &__item {
    background: #FFFFFF;
    border: 1px solid #EEF3F8;
    box-sizing: border-box;
    border-radius: 4px;

    &__name {
      line-height: 19px;
      letter-spacing: -0.03em;
      color: #2E3849;
    }

    &__exp {
      line-height: 15px;
      letter-spacing: -0.03em;
      color: #728197;
    }

    &__label {
      border-radius: 22px;

      &--exp {
        background: #FFEBEB;
        color: #752B2B;
      }

      &--healthy {
        background: #DBFFE6;
        color: #23553E;
      }

      &--expsoon {
        background: #FFFDCC;
        color: #754311;
      }
    }
  }
}